/* Styling for Bean Stalking */

/* Main Styling */


html {
    font-size : 14px;
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
    scroll-behavior: smooth;    
}

body {
    background : rgba(52, 152, 219,0.5);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin : 0;
    padding : 0;
    height: 100%;
}

a {
    text-decoration: none;
}

/* Nav Bar */

.main_nav {
    display : flex;
    justify-content: space-around;
    align-items: center;
    font-family : 'Muli', sans-serif;
    background-color: #1abc9c;
    position: relative;
    width : 100%;
    opacity: 0.9;
    text-align : center;
    z-index: 9999999;
}

.nav_ref a:hover {
    background : #1abc9c;
    color: white;
}

.logo {
    color : white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 35px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
}

.logo a {
    color : white;  
}

.nav_ref {
    display: flex;
    position: relative;
    background-color: white;    
    color : #2ecc71;
    justify-content: space-around;
    width : 40%;
    padding : 0.5rem;
    margin : 1rem;
}

.nav_ref li {
    list-style: none;
}

.nav_ref a {
    color : #2ecc71;
    text-decoration: none;
    letter-spacing: 3px;
    font-size : 20px;
    padding : 5px 5px;
}

nav ul {
    float : left;
}

nav ul li {
    float: left;
    list-style: none;
    position : relative;
}

nav ul li a {
    display : block;
    font-size : 15px;
    text-decoration: none;
    padding : 20px 14px;
}


nav ul li ul {
    position : absolute;
    display : none;
    background : white;
    text-align : center;
    padding : 10px;
    border-radius : 0px 0px 5px 5px;
    border : 2px solid rgba(22, 160, 133,1.0);
}

nav ul li:hover ul {
    position : absolute;
    display : block;
    background : white;
    text-align : center;
    z-index: 999999;
}

nav ul li ul li {
    width : 200px;
    padding : 2px;
    margin : 2px;
    font-size : 10px;    
    z-index: 999999;
}

nav ul li ul li a {
    padding : 14px 14px;
}

nav ul li ul li a:hover {
    background : #1abc9c;
    color : white;
}

/* Search Button */

.searchbar {
    position: relative;
    background : #16a085;
    height : 40px;
    border-radius: 40px;
    padding : 10px;
}


.searchbar:hover > .search-input {
    width: 200px;
    padding : 0 6px;
}

.searchbar:hover > .search-button {
    background : white;
    color : #e67e22;
    float: right;
    position: relative;
}

.search-button {
    display : flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width : 40px;
    height : 40px;
    border-radius: 50%;
    background: #16a085;
    color : white;
    transition: 0.4s;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    float: right;
    padding : 0;
    color : white;
    font-size : 16px;
    width: 0px;
    transition: 0.4s;
    line-height: 40px;
}

.log-in {
    background : white;
    border-radius: 10px;
    width : 70px;
    height : 50px;
    border : 0px;
    margin : 5px;
}

.log-in a {
    color : rgba(231, 76, 60,1.0);
    font-size : 14px;
}

.login:hover .login-form {
    position: absolute;
    width: 300px;
    height: 150px;
    background : white;
    right : 7%;
    color : black;
    display : block;
    border-radius : 10px;
}

.login .login-form {
    position: absolute;
    width: 300px;
    height: 150px;
    background : white;
    right : 7%;
    color : black;
    display : none;
}


.login .log-in > form {
    margin : 25px auto;
    font-size : 12px;
}

.login-form input[type = "text"], .login-form input[type = "password"] {
    border : 2px solid;
    border-radius: 5px;
    text-align: center;
    width : 200px;
}

.login-form input[type = "submit"] {
    background : rgba(22, 160, 133,1.0);
    color : white;
    margin : 3px;
    padding : 3px;
    border-radius: 10px;
    width : 80px;
}

/* Body */

article {
    padding-top: 50px;
    overflow : auto;
    padding-bottom : 100px;
    width: 100%;
    color : white;  
    text-align: center;
    position : relative;
    clear : both;
    z-index: 1;
}

article h1 { 
    font-size : 70px;
}

article h2 {
    font-size : 50px;
}

article .start-here {
    width : 300px;
    height : 200px;
    border-radius: 50px;
    background : rgba(230, 126, 34,1.0);
    font-size : 45px;
    border : 3px red solid;
    text-transform: uppercase;
    letter-spacing: 3px;
}

article .start-here a {
    color : white;
}

.ground {
    width : 100%;
    height : 250px;
    background : rgba(139,69,19, 0.7);
    color : white;
}

/* Jumping Jack */

div .jack {
    position : relative;
    top : 100%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(100px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(100px); }
}

/* left right Arrow */

.move_right {
    font-size : 50px;
    color : red;
    position : absolute;
    right : 5%;
    top : 50%;
}

.move_left {
    font-size : 50px;
    color : red;
    position : absolute;
    left : 5%;
    top : 50%;
}

.move_left i, .move_right i {
    color : red;
}



/* Footer */

.footer-main {
    width : 100%;
    margin : auto;
    height : auto;
    padding: 20px 0px;
    position : relative;
    clear : both;
    margin-top : -100px;
    background-color: #7f8c8d;
    display : block;
    overflow: auto;
}

.back_to_top {
    position : relative;
    width : 100%;
    margin : auto;
    height : auto;
    background : #95a5a6;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family : 'Dosis', sans-serif;
    transition : 0.3s;
}

footer a {
    color : white;
}

footer .copyright {
    color : white;
    text-align: center;
    justify-content: baseline;
}

footer .footer-nav {
    display : flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    text-align : center;
}

footer .footer-nav ul{
    list-style: none;
    display : flex;
    font-size : 20px;
    margin : 5px;
    padding : 5px;
}

footer .footer-nav ul li{
    margin : 5px;
    padding : 5px;
}

footer .contact-us {
    display : flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    text-align : center;
    font-size: 18px;
    color : white;
}


/* Policy */

.policy .policy-in p {
    font-size: 20px;
    text-align: center;
    word-wrap: normal;
    width : 400px;
    display: flex;
    justify-content: center;
    margin-right : auto;
    margin-left : auto;
}


/* Forum */


.forum-lists {
    border : 1px black solid;
    border-radius: 5px;
    width : 90%;
    background: rgba(243, 156, 18,0.3);
    font-size : 18px;
    position : relative;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin : 0px auto;

}

.forum-lists tbody {
    color : black;
    background : white;
    border : grey solid 1px;
}

.forum-main {
    height : 1000px;
}

.new-topic {
    background : rgba(241, 196, 15,0.6);
    color : rgba(192, 57, 43,0.7);
    font-size : 20px;
    width : 80px;
    height : 50px;
    position : relative;
    right : -40%;
    bottom : 30px;
    font-weight : bold;
    border : 1.5px red solid;
    border-radius: 8px;
}

.forum-search {
    width : 200px;
    height : 30px;
    border-radius : 10px;
    border : blue 2px solid;
    background : white;
    position: relative;
    margin : 0px auto;
    top : 10%;
}

.search2 {
    width: 300px auto;
    height : 25px;
    border : none;
}

/* Gallery */

.gallery_home {
    margin : 10px 50px;
}

#gallery {
    margin : 10px;
    border : 1px solid grey;
    float : left;
    width : 180px;
    transition : 1s;
}

#gallery img {
    width: 100%;
    height: auto;
    padding: 0.5px;
}

#gallery:hover {
    transform: scale(1.1);
}


div #gallerytext {
    padding: 15px;
    text-align: center;
}

/* Gallery Filter nav */
.gallery-filter {
    display : flex;
    width : 38%;
    height : 50px;
    justify-content: center;
    align-items: center;
    font-family : 'Muli', sans-serif;
    background-color: #fab1a0;
    position: relative;
    opacity: 0.9;
    text-align : center;
    z-index: 9999999;
    color : #0984e3;
    border-radius: 5%;
    border : 2px #e17055 solid;
    left : 35%;
}

.filter_nav {
    display: flex;
    position: relative;
    justify-content: space-around;
    width : 40%;
    padding : 0.5rem;
    
}

.filter_nav li {
    list-style: none;
    padding : 5px;
    border : 2px #fdcb6e solid;
}

.filter_nav a {
    color : #0984e3;   
    text-decoration: none;
    letter-spacing: 3px;
    font-size : 20px;
    padding : 5px 5px;
    font-weight: 400;
}

.gallery-filter ul {
    float : left;
}



/* Seed */

.seed {
    height : 150px;
    text-align: center;
    justify-content: center;
    overflow: auto;
    font-size : 20px;
    line-height: 40px;
    
}

.seed a {
    font : white;
    text-align: center;
    justify-content: center;
}

.click-seed {
    position: relative;
    color : white;
    font-size : 20px;
}

.beanstalk-seed {
    width : 50px;
    height : 50px;
    border-radius: 50%;
    background : palegoldenrod;
    text-align: center;
    justify-content: center;
    font : white;
    font-size : 30px;
    position: relative;
    display: flex;
}



.step1-tips {
    color : rgba(230, 103, 103,1.0);
    font-size : 30px;
    display : flex;
    overflow: auto;
}

.light-tips {
    width : 50px;
    height : 50px;
    transition : 0.5s;
}

.light-tips:hover {
    transform:scale(1.5);
}


/* Popup Box */

/* watering can popup */

.wateringcan-popup {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4); 
}
    
.wateringcan-content {
    background-color: rgba(84, 109, 229,1.0);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    color : white;                     
}
    
.wateringcan-close {
    color: rgba(225, 95, 65,0.8);
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.wateringcan-close:hover, .wateringcan-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#trigger-wateringcan {
    width : 200px;
    position : relative;
    left : 10%;
    background : rgba(52, 152, 219,0.5);
    transform: rotate(10deg);
    transition : 1s;
}

#trigger-wateringcan:hover {
    transform: rotate(-20deg);
}

.wateringcan2 {
    width : 100px;
}

/* seed popup */

.seed-popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}
    
.seed-content {
    background-color: rgba(245, 205, 121,1.0);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    color : white;                     
}
    
.seed-close {
    color: rgba(225, 95, 65,0.8);
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.seed-close:hover, .seed-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#trigger-seed {
    position : relative;
    

}
.seed-button {
    background : papayawhip;
    width : 70px;
    height : 70px;
    border-radius: 50%;
    position: relative;
    border : 2px brown solid;
    font-size : 20px;
    line-height: 40px;
    top : 10px;
}

.bean1 {
    width : 300px;
}

/* seed popup */

.s1t1-popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}
    
.s1t1-content {
    background-color: rgba(245, 205, 121,1.0);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    color : white;                     
}
    
.s1t1-close {
    color: rgba(225, 95, 65,0.8);
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.s1t1-close:hover, .s1t1-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#trigger-s1t1 {
    position : relative;
    

}
.s1t1-button {
    background : yellow;
    width : 50px;
    height : 50px;
    border-radius: 10%;
    position: relative;
    border : 2px orangered solid;
    font-size : 20px;
    line-height: 40px;
    top : 40px;
    right : 170px;
}

.soaking_bean {
    width : 400px;
}

.click-s1t1 {
    position: relative;
    color : gold;
    font-size : 30px;
    right : 170px;
    top : 10px;
}

/* seed popup */

.pot-popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}
    
.pot-content {
    background-color: rgba(245, 205, 121,1.0);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    color : white;                     
}
    
.pot-close {
    color: rgba(225, 95, 65,0.8);
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.pot-close:hover, .pot-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pot-button {
    background : yellow;
    width : 50px;
    height : 50px;
    border-radius: 10%;
    position: relative;
    border : 2px orangered solid;
    font-size : 20px;
    line-height: 40px;
    top : 40px;
    right : 170px;
}

.click-pot {
    position: relative;
    color : gold;
    font-size : 30px;
    right : 170px;
    top : 10px;
}

#trigger-pot {
    width: 200px;
    position : absolute;
    right : 10%;
    top : 85%;
}

.pot2 {
    width : 300px;
}

/* Music Player */

#musicplayer {
    border : blue 1.5px solid;
    border-radius: 5px; 
}

#musicplaylist {
    list-style: none;
}

#musicplaylist li a{
    color : black;
    text-decoration: none;
}

#musicplaylist .now-playing a{
    color : blue;
}


/* Step 2 */

.beanstalk {
    width : 100%;
    margin : auto;
    height : auto;
    padding: 20px 0px;
    position : relative;
    clear : both;
    margin-bottom : -220px;
    display : block;
    overflow: auto;
}

.stem {
    position : relative;
    justify-content: baseline;

}

