/* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
background-color: #ea8685;
color: white;
font-family: 'Montserrat', sans-serif;
}

body {
/* Margin bottom by footer height */
margin-bottom: 60px;	
background-color: #ea8685;
font-family: 'Montserrat', sans-serif;
}

/* ---------------- Heading styles ---------------- */
.heading {
	background-color: #ea8685;
	color: white;
	position:fixed;
	width:100%;
	z-index: 100;
	border-width: 0;
	border-bottom-width: 1px;
	border-color: white;
	border-style: solid;
	height: 150px;
}

.heading h1 {
	font-size: 90px;
	padding-top: 10px;
}

/* ----------------- Goal styles ----------------- */
.list-group {
	margin-top: 10px; 
	background-color: #ea8685;
}

div.list-group-item:hover, div.list-group-item:active, div.list-group-item:visited  {
	background-color: #ea8685;
	color : white;	
}

a.list-group-item:hover, a.list-group-item:active, a.list-group-item:visited {
	background-color: #ea8685;
	color : white;	
}

.list-group div {
	background-color: #ea8685;
	color: white;
}

.goal h5 {
	font-size: 45px;
	margin:5px;
}

.goal p {
	font-size: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

.goal small {
	font-size: 30px;
}

.filters {
	width:100%;
	background-color: #ea8685;
}

.filter-nav {
	background-color: #ea8685;
}

.btn-outline-primary {
	background-color: #ea8685;
	color : white;
}


.filter-nav button {
	width:33%;
	font-size: 40px;
}

.filter-nav button:active {
	color: white;
	background-color: #e66767;
}

.filter-nav button:hover {
	color: white;
	background-color: #e66767;
}

.progressText {
	font-size: 30px;
}

div.progress-bar {
	background-color: #f5cd79;
}



.floatingAdd {
	width:20%;
	height:200px;
	position: fixed;
	bottom:300px;
	margin-left: 70%;
	float:right;
}

.floatingAdd button {
	width: 200px;
	height:200px;
	font-size: 100px;
	border-radius: 100px;
	background-color: #f5cd79;
}

.newGoalForm legend {
	font-size: 100px;
}

.newGoalForm input {
	height: 90px;
	font-size: 40px;
}

.newGoalForm label {
	height: 120px;
	font-size: 80px;
}

.newGoalForm select {
	height: 90px;
	font-size: 40px;
}

.newGoalForm button {
	height: 90px;
	width: 400px;
	font-size: 40px;
}

.newGoalForm a {
	color: white;
}

.form-group {
	color : white;
}

.btn-lg, .btn-lg:hover, .btn-lg:active, .btn-lg:focus {
	background-color : #f5cd79;
	color : white;
	border-color : #f5cd79;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
width: auto;
padding: 0 15px;
}
.container .text-muted {
margin: 20px 0;
}

.content {
	margin-bottom: 200px;
}

.contentWithHeading {
	margin-top: 150px;
}

/* ----------------- NavBar Styling ----------------- */

.footer {
position: fixed;
bottom: 0;
width: 100%;
  /* Set the fixed height of the footer here */
height: 200px;
background-color: #ea8685;

}

.footer table {
	width:100%;
	height:200px;
	text-align: center;
	color: black;	
}

.footer td {
	font-size: 100px;
	width:20%;
	border-width: 0;
	border-top-width: 1px;
	border-color: white;
	border-style: solid;
}



.activeNav {
	background-color: #f5cd79;
}

.passiveNav {
	background-color: #ea8685;
}

.passive:active {
	background-color: #f19066;
}

.fas {
	color:white;
}

/* ------------ Styles for stats screen ------------ */
.spendingBreakdownItem {
	font-size: 40px;
	background-color:  #ea8685;
	color:white;
}

.leftLi {
	text-align: right;
}

.leftLi span {
	float:left;
}

.statsPie {
	width:100%;
}



/* ---------- Styling for settings screen ---------- */
.settings .list-group {
	font-size: 70px;
}

.settings a{
	padding:70px;
	background-color: #ea8685;
	font-size: 70px;
	color: white;
}

/* ------- Styling for the information screen ------- */
.info h5 {
	font-size: 80px;
}

.info small {
	font-size: 30px;
}

.info p {
	font-size: 40px;
}

.info a {
	padding:40px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color : #f5cd79;
	color : white;
	border-color : #f5cd79;
}

/* ---------- Styling for settings Bank screen ---------- */
.settings .list-group {
	font-size: 80px;
}

.newBankAcc legend {
	font-size: 100px;
}

.newBankAcc input {
	height: 90px;
	font-size: 40px;
}

.newBankAcc label {
	height: 120px;
	font-size: 80px;
}

.newBankAcc select {
	height: 90px;
	font-size: 40px;
}

.newBankAcc button {
	height: 90px;
	width: 400px;
	font-size: 40px;
}

.newBankAcc a {
	color: white;
}




/* ---------- Styling for Home progress bar ---------- */
#counter{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}
#circle1{
    height: 825px;
    width: 825px;
    background-color:#e77f67;
    border-radius: 50%;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#shadowring{
    height: 825px;
    width: 825px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#circle2{
    height: 980px;
    width: 980px;
    background-color:#BBD9DB;
    border-radius: 50%;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}


.afterbar {
	margin-top : 1100px;
}

p.afterbar1 {
	color : white;
	font-size : 100px;
	font-weight: bold;
	text-align: center;
}

p.afterbar2 {
	color : #596275;
	font-size : 70px;
	text-align: center;
}


/* ---------- Styling for Stats Pie chart ---------- */

#piechart {
	height: 800px;
    width: 950px;
}

/* ---------- Styling for Settings Notification ---------- */

input[type="checkbox"]{
	position: relative;
	width: 160px;
	height: 80px;
	-webkit-appearance: none;
	background: #c6c6c6;
	outline: none;
	border-radius: 40px;
	box-shadow: inset 0 0 0px rgba(0,0,0,.2); 
	transition: .5s; 
}

input:checked[type="checkbox"]{
	background: #f5cd79
}

input[type="checkbox"]:before {
	content : '';
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background: #e66767;
	transition: .5s;
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

input:checked[type="checkbox"]:before {
	left: 80px;
}

/* ---------- Styling for Settings Notification ---------- */
.policy {
	color : white;
}

.pol-head {
	font-size: 70px;
}

.policy p {
	font-size: 40px;
	padding: 10px;
}