/* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
}
body {
  /* Margin bottom by footer height */
margin-bottom: 60px;	
}

/* ---------------- Heading styles ---------------- */
.heading {
	background-color: #f78fb3;
	position:fixed;
	width:100%;
	z-index: 100;
}

.heading h1 {
	font-size: 100px;
}

/* ----------------- Goal styles ----------------- */
.list-group {
	margin-top: 10px; 
}

.goal h5 {
	font-size: 60px;
	margin:5px;
}

.goal p {
	font-size: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

.goal small {
	font-size: 30px;
}

.progressText {
	font-size: 30px;
}

.floatingAdd {
	width:20%;
	height:200px;
	position: fixed;
	bottom:300px;
	margin-left: 70%;
	float:right;
}

.floatingAdd button {
	width: 200px;
	height:200px;
	font-size: 100px;
	border-radius: 100px;
}

.newGoalForm legend {
	font-size: 100px;
}

.newGoalForm input {
	height: 90px;
	font-size: 40px;
}

.newGoalForm label {
	height: 90px;
	font-size: 40px;
}

.newGoalForm select {
	height: 90px;
	font-size: 40px;
}

.newGoalForm button {
	height: 90px;
	width: 400px;
	font-size: 40px;
}

.newGoalForm a {
	color: white;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
width: auto;
padding: 0 15px;
}
.container .text-muted {
margin: 20px 0;
}

.content {
	margin-bottom: 200px;
}

.contentWithHeading {
	margin-top: 150px;
}

/* ----------------- NavBar Styling ----------------- */

.footer {
position: fixed;
bottom: 0;
width: 100%;
  /* Set the fixed height of the footer here */
height: 200px;
background-color: #f5f5f5;

}

.footer table {
	width:100%;
	height:200px;
	text-align: center;
	color: black;
}

.footer td {
	font-size: 100px;
	width:20%;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

#activeNav {
	background-color: #f5cd79;
}

#passiveNav {
	background-color: #c44569;
}

#passive:active {

}

.fas {
	color:#303952;
}

/* ------------- Styling for pie chart ------------- */
.progressChart {
	width:100%;
	height:800px;
	width:1600px;
	padding:60px;
	margin-left: -350px;
}

#chDonut1 {
}

/* ---------- Styling for settings screen ---------- */
.setttings .list-group {
	font-size: 80px;
}

.settings a{
	padding:100px;
	font-size: 80px;
}

/* ------- Styling for the information screen ------- */
.info h5 {
	font-size: 80px;
}

.info small {
	font-size: 30px;
}

.info p {
	font-size: 40px;
}

.info a {
	padding:40px;
}
