/* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
background-color: #ea8685;
color: white;
font-family: 'Montserrat', sans-serif;
}
body {
  /* Margin bottom by footer height */
margin-bottom: 60px;	
background-color: #ea8685;
font-family: 'Montserrat', sans-serif;

}

/* ---------------- Heading styles ---------------- */
.heading {
	background-color: #ea8685;
	color: white;
	position:fixed;
	width:100%;
	z-index: 100;
	border-width: 0;
	border-bottom-width: 1px;
	border-color: white;
	border-style: solid;
	height: 150px;
}

.heading h1 {
	font-size: 90px;
	padding-top: 10px;
}

/* ----------------- Goal styles ----------------- */
.list-group {
	margin-top: 10px; 
	background-color: #ea8685;
}

div.list-group-item:hover, div.list-group-item:active, div.list-group-item:visited  {
	background-color: #ea8685;
	color : white;	
}

a.list-group-item:hover, a.list-group-item:active, a.list-group-item:visited {
	background-color: #ea8685;
	color : white;	
}

.list-group div {
	background-color: #ea8685;
	color: white;
}

.goal h5 {
	font-size: 60px;
	margin:5px;
}

.goal p {
	font-size: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

.goal small {
	font-size: 30px;
}

.filters {
	width:100%;
	background-color: #ea8685;
}

.filter-nav {
	background-color: #ea8685;
}

.btn-outline-primary {
	background-color: #ea8685;
	color : white;
}



.filter-nav button {
	width:33%;
	font-size: 40px;
}

.filter-nav button:active {
	color: white;
	background-color: #e66767;
}

.filter-nav button:hover {
	color: white;
	background-color: #e66767;
}

.progressText {
	font-size: 30px;
}

div.progress-bar {
	background-color: #f5cd79;
}



.floatingAdd {
	width:20%;
	height:200px;
	position: fixed;
	bottom:300px;
	margin-left: 70%;
	float:right;
}

.floatingAdd button {
	width: 200px;
	height:200px;
	font-size: 100px;
	border-radius: 100px;
	background-color: #f5cd79;
}

.newGoalForm legend {
	font-size: 100px;
}

.newGoalForm input {
	height: 90px;
	font-size: 40px;
}

.newGoalForm label {
	height: 90px;
	font-size: 40px;
}

.newGoalForm select {
	height: 90px;
	font-size: 40px;
}

.newGoalForm button {
	height: 90px;
	width: 400px;
	font-size: 40px;
}

.newGoalForm a {
	color: white;
}

.form-group {
	color : white;
}

.btn-lg, .btn-lg:hover, .btn-lg:active, .btn-lg:focus {
	background-color : #f5cd79;
	color : white;
	border-color : #f5cd79;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
width: auto;
padding: 0 15px;
}
.container .text-muted {
margin: 20px 0;
}

.content {
	margin-bottom: 200px;
}

.contentWithHeading {
	margin-top: 150px;
}

/* ----------------- NavBar Styling ----------------- */

.footer {
position: fixed;
bottom: 0;
width: 100%;
  /* Set the fixed height of the footer here */
height: 200px;
background-color: #ea8685;

}

.footer table {
	width:100%;
	height:200px;
	text-align: center;
	color: black;	
}

.footer td {
	font-size: 100px;
	width:20%;
	border-width: 0;
	border-top-width: 1px;
	border-color: white;
	border-style: solid;
}



.activeNav {
	background-color: #f5cd79;
}

.passiveNav {
	background-color: #ea8685;
}

.passive:active {
	background-color: #f19066;
}

.fas {
	color:white;
}

/* ------------ Styles for stats screen ------------ */
.spendingBreakdownItem {
	font-size: 40px;
	background-color:  #ea8685;
	color:white;
}

.leftLi {
	text-align: right;
}

.leftLi span {
	float:left;
}

.statsPie {
	width:100%;
}



/* ---------- Styling for settings screen ---------- */
.setttings .list-group {
	font-size: 80px;
}

.settings a{
	padding:100px;
	background-color: #ea8685;
	font-size: 80px;
	color: white;
}

/* ------- Styling for the information screen ------- */
.info h5 {
	font-size: 80px;
}

.info small {
	font-size: 30px;
}

.info p {
	font-size: 40px;
}

.info a {
	padding:40px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color : #f5cd79;
	color : white;
	border-color : #f5cd79;
}

/* ---------- Styling for settings Bank screen ---------- */
.settings .list-group {
	font-size: 80px;
}

.settings a{
	padding:100px;
	font-size: 80px;
}

.newBankAcc legend {
	font-size: 100px;
}

.newBankAcc input {
	height: 90px;
	font-size: 40px;
}

.newBankAcc label {
	height: 90px;
	font-size: 40px;
}

.newBankAcc select {
	height: 90px;
	font-size: 40px;
}

.newBankAcc button {
	height: 90px;
	width: 400px;
	font-size: 40px;
}

.newBankAcc a {
	color: white;
}




/* ---------- Styling for Home progress bar ---------- */
